.title{
    width: 90%;
    background:linear-gradient( to top right ,#f9fbcb,#F8F8F3);
}

.name1{
    background-color: green;
}
.name2{
    background-color: green;
}
.name3{
    background-color: blue;
}

.name4{
    background-color: blue;
}

.name5{
    background-color: darkblue;
}

.name6{
    background-color: orange;
}

.name7{
    background-color: red;
}

.name8{
    background-color:  lightcoral;
}

.name9{
    background-color: red;
}

.name10{
    background-color: rebeccapurple;
}
.name11{
    background-color: rebeccapurple;
}

.title1{
    color: green;
}

.title2{
    color: red;
}