
.image{
    text-align: center;
   width: 100%;
   margin:0px auto;
}
.title{
   
    text-shadow:rgba(0, 0, 0, 0.521) 2px 2px 2px;
   
}

.title2{
    
    text-shadow: rgba(156,166,166) 2px 2px 2px;
}


.p1{
    text-align: center;
}
.p2{
    color:red;
}

.name1{
    text-indent: 2em;
    font-style: italic;
}

.name2{
    text-indent: 2em;
    
}